/* Header */
.header {
    background-color: #EAC926;
}
.search-bar {
    width: 310px;
    height: 15px;
    display: inline-block;
    background-color: #eaeaea;
    border: solid 0.5px black;
}
header nav {
    font-size: 12px;
}
.header nav ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: black;
}
div.burger-menu{
    text-align: center;
}
div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
}