<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bienvenidxs a MercadoLiebre</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <header class="header">
            <img src="/images/logo-mercado-liebre.svg" width="360" alt="Logo de MercadoLiebre">
            <p><div class="search-bar"></div></p>
            <div><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</div>
            <nav>
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul>
                    <li><a href="/register">Creá tu cuenta <i class="fas fa-carrot"></i></a></li>
                    <li><a href="/login">Ingresá<!--iconito de ingreso--></a></li>
                    <li><a href="#">Mis compras<!--iconito de canasta--></a></li>
                </ul>
            </nav>
        </header>
        <section>
            <img src="/images/img-home-banner.jpg" width="360" alt="Banner de ofertas">
        </section>
        <main>
            <section>
                <h3>Basado en tu última visita</h3>
                <img src="/images/img-cafetera-moulinex.jpg" width="360" alt="Cafetera" class="product_img">
                <!--iconito de camión-->
                <p>$6.770</p>
                <p>40% off</p>
                <h4>Cafetera Moulinex</h4>
                <img src="/images/img-macbook-pro-2019.jpg" width="360" alt="MacBook" class="product_img">
                <!--iconito de camión-->
                <p >$230.000</p>
                <p>20% off</p>
                <h4>MacBook Pro 2019</h4>
                <img src="/images/img-samsung-galaxy-s10.jpg" width="360" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                <!--iconito de camión-->
                <p >$70.500</p>
                <p>10% off</p>
                <h4>Teléfono móvil Samsung Galaxy S10</h4>
                <img src="/images/img-tv-samsung-smart.jpg" width="360" alt="SmartTv Samsung" class="product_img">
                <!--iconito de camión-->
                <p >$23.200</p>
                <p>5% off</p>
                <h4>SmartTv Samsung 43"</h4>
            </section>
            <section>
                <h3>Ofertas</h3>      
                <img src="/images/img-cafetera-moulinex.jpg" width="360" alt="Cafetera" class="product_img">
                <!--iconito de camión-->
                <p >$6.770</p>
                <p>40% off</p>
                <h4>Cafetera Moulinex</h4>
                <img src="/images/img-macbook-pro-2019.jpg" width="360" alt="MacBook" class="product_img">
                <!--iconito de camión-->
                <p >$230.000</p>
                <p>20% off</p>
                <h4>MacBook Pro 2019</h4>
                <img src="/images/img-samsung-galaxy-s10.jpg" width="360" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                <!--iconito de camión-->
                <p >$70.500</p>
                <p>10% off</p>
                <h4>Teléfono móvil Samsung Galaxy S10</h4>
                <img src="/images/img-tv-samsung-smart.jpg" width="360" alt="SmartTv Samsung" class="product_img">
                <!--iconito de camión-->
                <p >$23.200</p>
                <p>5% off</p>
                <h4>SmartTv Samsung 43"</h4>
            </section>
        </main>
        <footer>
        </footer>
    </body>
</html>