<!DOCTYPE html>
<html>
    <%- include('../partials/head', {title: 'Registro', style: '/css/form.css'})  %> 
    <body>
        <!-- Header -->
	    <%- include('../partials/header')  %>
	    <!-- /Header -->
       
        <main>
            <form method="POST" enctype="multipart/form-data"><!--Enctype se agrega solo si tenemos input de tipo file-->
                
                <div class="form-control">
                    <label for="">Nombre</label>
                    <input type="text" name="name">
                </div>

                <div class="form-control">
                    <label for="">Email</label>
                    <input type="email" name="email">
                </div>

                <div class="form-control">
                    <label for="">Avatar</label>
                    <input type="file" name="avatar">
                </div>

                <div class="form-control">
                    <label for="">Contraseña</label>
                    <input type="password" name="password">
                </div>

                <div class="form-control">
                    <label for="">Repetir Contraseña</label>
                    <input type="password" name="repassword">
                </div>
                <div class="form-control align-center"> 
                    <button type="submit" class="btn btn-success">Registrate</button>
                    <button type="reset" class="btn btn-secondary">Borrar</button>

                </div>
            </form>
        </main>

        <%- include('../partials/footer')  %>

    </body>
</html>